.herosection {
    height: 100vh;
    background-color: bisque;
    background-image: url(../../assets/img/oceans.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-content: center;
    text-align: center;
    background-attachment: fixed;
  }
  .text {
    font-size: 60px;
    color: white;
    font-weight: 30px;
    font-family: Georgia, "Times New Roman", Times, serif;
    text-align: center;
  }.paragraph {
    color: white;
    font-size: medium;
    margin-top: 40px;
    margin-bottom: 17px;
    text-transform: capitalize;
  }
  .button1 {
    width: 300px;
    height: 70px;
    color: white;
    background-color: rgba(42, 20, 163, 0.795);
    border-style: solid;
    border-radius: 2px;
    border-color: transparent;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    cursor: pointer;
  }
  .button2 {
    width: 300px;
    height: 70px;
    color: white;
    background-color: transparent;
    border-style: solid;
    border-radius: 2px;
    border-color: white;
    border-width: 1px;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    cursor: pointer;
  }
  .parentbutton {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 20px;
    align-items: center;
    text-align: center;
  }
  .button1:hover {
    width: 300px;
    height: 70px;
    color: white;
    background-color: rgba(72, 37, 168, 0.795);
    border-style: solid;
    border-radius: 2px;
    border-color: transparent;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    cursor: pointer;
  }
  .button2:hover {
    width: 300px;
    height: 70px;
    color: black;
    background-color: rgba(247, 241, 241, 0.938);
    border-style: solid;
    border-radius: 2px;
    border-color: white;
    border-width: 1px;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    cursor: pointer;
  }
  @media (max-width: 768px) {
    .parentbutton {
      flex-wrap: wrap;
    }
  }